stages:
  - build

before_script:
  - git submodule init
  - git submodule update
  - unset -f module 2>/dev/null
  - unset MODULEPATH MODULESHOME _MODULESBEGINENV_ MODULE_VERSION MODULE_VERSION_STACK
  - . /usr/local/Modules/default/init/bash
  - . /usr/local/Modules/default/init/bash_completion
  - module load nco
  # Create python environment
  - test -f Miniconda3-latest-Linux-x86_64.sh || wget -nv http://anaconda.rdhpcs.noaa.gov/miniconda/Miniconda3-latest-Linux-x86_64.sh
  - bash Miniconda3-latest-Linux-x86_64.sh -b -p `pwd`/local_env
  - export PATH=`pwd`/local_env/bin:$PATH

# Test
build:
  stage: build
  tags:
    - pan
  script:
    - conda create -q -y -n py3 python=3 numpy scipy netcdf4
    - . activate py3
    - make
